{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Home</title>
</head>
<body>
  {% include 'navbar.html' %}
  {% include 'main.html' %}
  {% include 'about.html' %}
  {% include 'contact.html' %}
</body>
</html>
