{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="login-container">
      <form action="{% url 'login' %}" method="POST" class="login-form">
        {% csrf_token %}
        <h2 class="title">Login</h2>
        <div class="input-group">
          <input type="text" name="username" required placeholder="Username" />
        </div>
        <div class="input-group">
          <input type="password" name="password" required placeholder="Password" />
        </div>
        <button type="submit" class="btn">Login</button>

        <p class="signup-text">Or sign up with:</p>
        <div class="social-options">
          <a href="https://www.facebook.com/" class="social-btn facebook" target="_blank">Facebook</a>
          <a href="https://accounts.google.com/" class="social-btn google" target="_blank">Google</a>
          <a href="https://twitter.com/" class="social-btn twitter" target="_blank">Twitter</a>
          <a href="https://www.linkedin.com/" class="social-btn linkedin" target="_blank">LinkedIn</a>
        </div>


        <p class="signup-text">Don't have an account? 
          <a href="{% url 'register' %}">Sign Up</a>
        </p>
      </form>
    </div>
  </body>
</html>
