<section class="navbar">
    <nav class="nav-links">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <span class="search-bar">
        <input type="text" placeholder="Search...">
        <button>Search</button>
    </span>

    <div class="btn">
        {% if request.session.username %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}" target="_blank">Signup</a>
        {% endif %}
    </div>
</section>
