{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
</head>
<body>
    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <img src="data:image/jpeg;base64,{{ product.image_data }}" alt="{{ product.name }}" class="product-image" />
                <div class="product-name">{{ product.name }}</div>
                <div class="product-price">Price: ${{ product.price }}</div>
                <div class="product-quantity">Quantity: {{ product.quantity }}</div>
                
                <!-- Add to Cart Form -->
                <form action="{% url 'add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.product_id }}"> <!-- Make sure to use the correct field -->
                    <input type="number" name="quantity" value="1" min="1">
                    <input type ="hidden" name="image_id" value="{{ product.image_id }}">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>
